.flex-container{
    display: flex;
    background-color: lightgray;
}

.flex-container div{
    border: 1px solid black;
    margin: 5px;
}

.flex-container div:nth-child(1){
    order:3 ;
}
.flex-container div:nth-child(2){
    order: 2;
}
.flex-container div:nth-child(3){
    order: 1;
}