.flex-container{
    display: flex;
    justify-content: space-between;
    background-color:lightcoral;
    padding:20px;
    color: #fff;

}

.flex-container div{
    border: 1px solid black;
    margin: 10px;
    height: 100px;
}