.flex-container{
    display: flex;
    background-color: lightsteelblue;
    /* gap: 20px; */
    
}
.flex-container div{
    flex-grow: 1;
    padding: 10px ;
}
.flex-container div:nth-child(1){
    flex-basis: 100px;
    
}